<nav class = "navbar navbar-expand-lg navbar-dark navbar-bg fixed-top">

  <!-- Navbar Brand -->

  <a class = "navbar-brand" routerLink = "/home" style = "margin-right: 70px;">Shoppie</a>

  <!-- Toggle -->

  <button class = "navbar-toggler" *ngIf = "isAuthenticated" type = "button" data-toggle = "collapse" data-target = "#navbarNavDropdown" aria-controls = "navbarNavDropdown" aria-expanded = "false" aria-label = "Toggle navigation" #closeNavbarToggle>
    <span class = "navbar-toggler-icon"></span>
  </button>

  <!-- Nav Items -->

  <div class = "collapse navbar-collapse" id = "navbarNavDropdown" *ngIf = "isAuthenticated">

    <ul class = "navbar-nav">

      <!-- Home Link -->

      <li class = "nav-item">
        <a 
          class = "nav-link"
          data-toggle = "collapse" 
          data-target = ".navbar-collapse.show"
          (click) = "onNavigateToHome()">
          Home
        </a>
      </li> 

      <!-- Products Link -->

      <!-- <li class = "nav-item">
        <a class = "nav-link">Products</a>
      </li> -->

      <!-- Add Dropdown -->

      <li class = "nav-item dropdown" *ngIf = "isAdmin">

        <a class = "nav-link dropdown-toggle" id = "navbarDropdownMenuLinkForAdd" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">
          <i class="fas fa-folder-plus"></i> Add
        </a>

        <div class = "dropdown-menu" aria-labelledby = "navbarDropdownMenuLinkForAdd">

          <!-- Navlink for Add Product -->

          <a
            class = "dropdown-item"
            (click) = "onNavigateToAddProduct()"
            data-toggle = "collapse" 
            data-target = ".navbar-collapse.show">
            <i class="fas fa-bookmark"></i>&nbsp;
            Add Product
          </a>

          <!-- Navlink for Add Brand -->

          <a
            class = "dropdown-item"
            (click) = "onNavigateToAddBrand()"
            data-toggle = "collapse" 
            data-target = ".navbar-collapse.show">
            <i class="fas fa-bookmark"></i>&nbsp;
            Add Brand
          </a>

          <!-- Navlink for Add Category -->

          <a
            class = "dropdown-item"
            (click) = "onNavigateToAddCategory()"
            data-toggle = "collapse" 
            data-target = ".navbar-collapse.show">
            <i class="fas fa-bookmark"></i>&nbsp;
            Add Category
          </a>

          <!-- Navlink for Add Seller -->

          <a
            class = "dropdown-item"
            (click) = "onNavigateToAddSeller()"
            data-toggle = "collapse" 
            data-target = ".navbar-collapse.show">
            <i class="fas fa-bookmark"></i>&nbsp;
            Add Seller
          </a>

        </div>

      </li>

      <li class = "nav-item dropdown">
        <a class = "nav-link dropdown-toggle" id = "navbarDropdownMenuLink" role = "button" data-toggle = "dropdown" aria-haspopup = "true" aria-expanded = "false">
          <i class = "fas fa-user"></i>
        </a>

        <div class = "dropdown-menu" aria-labelledby = "navbarDropdownMenuLink">

          <!-- Navlink for Cart -->

          <a 
            *ngIf = "!isAdmin"
            class = "dropdown-item"
            (click) = "onNavigateToCart()"
            data-toggle = "collapse" 
            data-target = ".navbar-collapse.show">
            <i class="fas fa-shopping-cart"></i>&nbsp;
            Cart
          </a>

          <!-- Navlink for logout -->

          <a
            class = "dropdown-item"
            (click) = "onLogout()"
            data-toggle = "collapse" 
            data-target = ".navbar-collapse.show">
            <i class="fas fa-sign-out-alt"></i>&nbsp;
            Logout
          </a>

        </div>

      </li>

    </ul>


  </div>

</nav>