<div class = "side-nav-container">

    <div class = "side-nav-scroll-content">

        <!-- Image Section -->

        <div class = "row">
            <div class = "text-center">
                <img 
                    [src] = "userLoggedInDetails.userImageUrl" 
                    [alt] = "userLoggedInDetails.userName" 
                    class = "img-fluid rounded"
                    *ngIf = "userLoggedInDetails"
                >
            </div>
        </div>

        <hr class = "m-2">

        <!-- DisplayName Section -->

        <div class = "text-center">
            <p class = "username-color" *ngIf = "userLoggedInDetails"> {{ userLoggedInDetails.userDisplayName }} </p>
        </div>

        <hr class = "m-1">

        <!-- Button Groups -->

        <!-- Large Screens -->

        <div class = "list-group list-group-flush side-nav-xs-options">

            <!-- Filter Products Button -->

            <button 
                type = "button" 
                class = "list-group-item list-group-item-secondary list-group-item-action"
                (click) = "onFilterProducts()">
                <i class="fas fa-filter"></i>&nbsp;Filter 
            </button>

            <!-- Profile View Button -->

            <button 
                type = "button" 
                class = "list-group-item list-group-item-secondary list-group-item-action"
                (click) = "onViewUserProfile()">
                <i class="fas fa-user-circle"></i>&nbsp; My Profile 
            </button>

            <!-- Orders View Button -->

            <button 
                type = "button" 
                *ngIf = "!isAdmin"
                class = "list-group-item list-group-item-secondary list-group-item-action"
                (click) = "onViewUserOrders()">
                <i class="fas fa-shopping-bag"></i>&nbsp; My Orders 
            </button>

            <!-- Addresses View Button -->

            <button 
                type = "button"
                *ngIf = "!isAdmin"
                class = "list-group-item list-group-item-secondary list-group-item-action"
                (click) = "onViewUserAddress()">
                <i class="fas fa-map-marker-alt"></i>&nbsp; My Address 
            </button>

            <!-- Users Insights View Button -->

            <button 
                type = "button"
                *ngIf = "isAdmin"
                class = "list-group-item list-group-item-secondary list-group-item-action"
                (click) = "onViewUsersInsights()">
                <i class="fas fa-users"></i>&nbsp; Users
            </button>

        </div>

    </div>

</div>
