

    <!-- Profile Picture -->

    <!--  User Full Name -->

    <div class = "form-group">
        <label for = "userName"> Your Name </label>
        <input 
            type = "text" 
            class = "form-control"
            name = "userName"
            id = "userName"
        >
    </div>

    <!-- User Display Name -->

    <div class = "form-group">
        <label for = "userDisplayName"> Your Display Name </label>
        <input
            type = "text"
            class = "form-control"
            name = "userDisplayName"
            id = "userDisplayName"
        >
    </div>

    <!-- User Email -->

    <div class = "form-group">
        <label for = "userEmail"> Your Email </label>
        <input
            type = "email"
            class = "form-control"
            name = "userEmail"
            id = "userEmail"
        >
    </div>

    <!-- User Password Reset -->

    <!-- User Contact Number -->

    <div class = "form-group">
        <label for = "userContactNumber"> Your Contact Number </label>
        <input 
            type = "number"
            class = "form-control"
            name = "userContactNumber"
            id = "userContactNumber"
        >
    </div>

    <!-- User Gender -->

    <div class = "form-group">
        <label>
            You're a : 
        </label>

        
    </div>

    <!-- User Location -->

    <div class = "form-group">
        <label for = "userLocation"> Lives in : </label>
        <input
            type = "text"
            class = "form-control"
            name = "userLocation"
            id = "userLocation"
        >
    </div>

    <!-- User DOB -->

    <div class = "form-group">
        <label for = "userDOB"> Birth Date : </label>
    </div>


