<div class = "user-details-container">
    
    <div class = "d-flex justify-content-center" *ngIf = "!userLoggedInData">
        <div class = "spinner-border spinner-props" role = "status">
            <span class = "sr-only">Loading...</span>
        </div>
    </div>

    <form [formGroup] = "userDetailsForm" *ngIf = "userLoggedInData" (ngSubmit) = "onFormSubmit()">

        <!-- User Image -->

        <div class = "form-group">

            <div class = "text-center">

                <img [src] = "userImageUrl.value" [alt] = "userName.value" style = "height: 200px;" class = "img-fluid rounded-circle img-shadow">

            </div>
        
        </div>

        <hr>

        <!-- Button to enable Edit Mode -->

        <div class = "form-group row">

            <div class = "offset-md-10 col-md-2">
            
                <button
                    type = "button" 
                    class = "btn btn-secondary btn-sm" 
                    *ngIf = "!userDetailsEditMode"
                    (click) = "onEditUserDetails()">
                    <i class="far fa-edit"></i> Edit
                </button>

            </div>

        </div>

        <!-- User Image Url -->

        <div class = "form-group row">

            <label for = "userImageUrl" class = "col-md-3 col-form-label"> Image Url : </label>

            <div class = "col-md-4">

                <input
                    type = "text"
                    class = "form-control form-control-sm"
                    name = "userImageUrl"
                    formControlName = "userImageUrl"
                    id = "userImageUrl"
                    [readonly] = "!userDetailsEditMode"
                >

            </div>

            <span *ngIf = "userImageUrl.invalid && (userImageUrl.dirty || userImageUrl.touched)">
                <p 
                    *ngIf = "userImageUrl.errors.required"
                    class = "text-muted">
                    Image Url can't be empty.
                </p>
            </span>

        </div>
        
        <!--  User Full Name -->

        <div class = "form-group row">
            
            <label for = "userName" class ="col-md-3 col-form-label"> Your Name : </label>

            <div class = "col-md-4">
                <input 
                    type = "text" 
                    class = "form-control form-control-sm"
                    name = "userName"
                    formControlName = "userName"
                    id = "userName"
                    [readonly] = "!userDetailsEditMode"
                >
            </div>

            <span *ngIf = "userName.invalid && (userName.dirty || userName.touched)">
                <p
                    *ngIf = "userName.errors.required"
                    class = "text-muted">
                    Username can't be empty.
                </p>
            </span>

        </div>

        <!-- User Display Name -->

        <div class = "form-group row">

            <label for = "userDisplayName" class = "col-md-3 col-form-label"> Your Display Name : </label>

            <div class = "col-md-4">
                <input
                    type = "text"
                    class = "form-control form-control-sm"
                    name = "userDisplayName"
                    formControlName = "userDisplayName"
                    id = "userDisplayName"
                    [readonly] = "!userDetailsEditMode"
                >
            </div>

            <span *ngIf = "userDisplayName.invalid && (userDisplayName.dirty || userDisplayName.touched)">
                <p
                    *ngIf = "userDisplayName.errors.required"
                    class = "text-muted">
                    Display name can't be empty.
                </p>
            </span>

        </div>

        <!-- User Email -->

        <div class = "form-group row">

            <label for = "userEmail" class = "col-md-3 col-form-label"> Your Email : </label>

            <div class = "col-md-4">
                <input
                    type = "email"
                    class = "form-control form-control-sm"
                    name = "userEmail"
                    formControlName = "userEmail"
                    id = "userEmail"
                    readonly
                >
            </div>

        </div>

        <!-- User Password Reset -->

        <!-- User Contact Number -->

        <div class = "form-group row">

            <label for = "userContactNumber" class = "col-md-3 col-form-label"> Your Contact Number : </label>

            <div class = "col-md-4">
                <input 
                    type = "number"
                    class = "form-control form-control-sm"
                    name = "userContactNumber"
                    formControlName = "userContactNumber"
                    id = "userContactNumber"
                    [readonly] = "!userDetailsEditMode"
                >
            </div>

            <span *ngIf = "userContactNumber.invalid && (userContactNumber.dirty || userContactNumber.touched)">
                <p
                    *ngIf = "userContactNumber.errors.required"
                    class = "text-muted">
                    Contact number can't be empty.
                </p>

                <p 
                    *ngIf = "userContactNumber.errors.pattern"
                    class = "text-muted">
                    Invalid contact number.
                </p>
            </span>

        </div>

        <!-- User Gender -->

        <div class = "form-group row">

            <label for = "userGender" class = "col-md-3 col-form-label"> You're a : </label>

            <div class = "col-md-4">
                <input
                    type = "text"
                    class = "form-control form-control-sm"
                    name = "userGender"
                    formControlName = "userGender"
                    id = "userGender"
                    readonly
                >
            </div>

        </div>

        <!-- User Location -->

        <div class = "form-group row">

            <label for = "userLocation" class = "col-md-3 col-form-label"> Lives in : </label>
            
            <div class = "col-md-4">
                <input
                    type = "text"
                    class = "form-control form-control-sm"
                    name = "userLocation"
                    formControlName = "userLocation"
                    id = "userLocation"
                    [readonly] = "!userDetailsEditMode"
                >
            </div>

            <span *ngIf = "userLocation.invalid && (userLocation.touched || userLocation.dirty)">
                <p 
                    *ngIf = "userLocation.errors.required"
                    class = "text-muted">
                    Location can't be empty.
                </p>
            </span>

        </div>

        <!-- User DOB -->

        <div class = "form-group row">

            <label for = "userDOB" class = "col-md-3 col-form-label"> Birth Date : </label>

            <div class = "col-md-4">
                <input
                    type = "text"
                    class = "form-control form-control-sm"
                    name = "userDOB"
                    formControlName = "userDOB"
                    id = "userDOB"
                    readonly
                >
            </div>

        </div>

        <!-- Button for Updating Details -->

        <button
            type = "submit"
            *ngIf = "userDetailsEditMode"
            class = "btn btn-info btn-sm"
            [disabled] = "userDetailsForm.invalid">
            Update Details
        </button>

    </form>

</div>


