.products-container {
    margin-top: 25px;
}

.btn-pager {
    background-color: #bdc3c7;
    border: 0.4px solid #192a56;
    color: #192a56;
    height: 35px;
    font-size: 70%;
}

button:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.margin-style {
    margin-left: 30px;
}

.spinner-props {
    color: #192a56;
    width: 3rem;
    height: 3rem;
}

@media (min-width: 481px) and (max-width: 767px) {
    

}

@media (min-width: 320px) and (max-width: 480px) {
    .products-container {
        width: 200px;
        margin-left: -70px;
    }
    .footer-props {
        margin-left: -80px;
    }
    .margin-style {
        margin-left: 20px;
    }
    .pager-row {
        width : 200px;
        font-size: 60%;
    }
    .spinner-props {
        margin-left: -90px;
    }
}
