.products-specific-container {
    margin-top: 25px;
}

.btn-pager {
    background-color: #bdc3c7;
    border: 0.4px solid #192a56;
    color: #192a56;
    height: 35px;
    font-size: 70%;
}

button:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.spinner-props {
    color: #192a56;
    width: 3rem;
    height: 3rem;
}

.specific-header {
    margin-left: 40px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .specific-header {
        margin-left: 10px;
    }

}

@media (min-width: 320px) and (max-width: 480px) {
  
}