<div class = "add-brand-container">

    <form [formGroup] = "addBrandForm" (ngSubmit) = "onFormSubmit()">

        <!-- Brand Name -->

        <div class = "form-group row">

            <label for = "brandName" class = "col-md-2 col-form-label">
                Brand Name: 
            </label>

            <div class = "col-md-4">

                <input
                    type = "text"
                    class = "form-control form-control-sm"
                    name = "brandName"
                    formControlName = "brandName"
                    id = "brandName"
                    autocomplete = "off"
                >

            </div>

        </div>

        <!-- Button for Submit -->

        <button
            type = "submit"
            class = "btn btn-sm btn-success">
            Add Brand
        </button>
    
    </form>

    <!-- Available Brands -->

    <hr>

    <div class ="row available-brands" *ngIf = "isBrandsAvailable">

        <div class = "text-center">
            <p class = "text-muted ml-3">
                List of Brands Available: 
            </p>
        </div>

    </div>

    <hr>

    <div class = "row">

        <div class = "col-md-6">

            <ul>

                <span *ngFor = "let brand of brandsAvailable; let i = index">

                    <li *ngIf = "i%2 === 0">
                        {{ brand.brandName }}
                    </li>

                </span>

            </ul>

        </div>

        <div class = "col-md-6">

            <ul>

                <span *ngFor = "let brand of brandsAvailable; let i = index">

                    <li *ngIf = "i%2 != 0">
                        {{ brand.brandName }}
                    </li>

                </span>

            </ul>

        </div>

    </div>

    <div class = "row ml-3" *ngIf = "!isBrandsAvailable">
        No Brands Added yet..!!
    </div>


</div>
