.text-color-primary {
    color: #192a56; 
}

.products-filter-container {
    margin-left: 10px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .products-filter-container {
        margin-left: -30px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .products-filter-container {
        width: 200px;
        margin-left: -80px;
    }
}