h4 {
    margin-top: -35px;
}

input.ng-dirty.ng-invalid,
input.ng-touched.ng-invalid {
    border-top : none;
    border-left : none;
    border-right: none;
    border-bottom: 4px #eb2f06 solid;
}

.password-success {
    color: #009432;
}

.password-error {
    color: #7f8c8d;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

@media (min-width: 481px) and (max-width: 767px) {
    .signup-container {
        width: 400px;
        margin: 0 auto;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .signup-container {
        width: 300px;
        margin: 0 auto;
    }
}
