.users-insights-container {
    margin-top: 25px;
}

.users-col {
    margin: auto;
    cursor: pointer;
}

@media (min-width: 481px) and (max-width: 767px) {
    .users-insights-container {
        margin-left: -30px;
    }
    .users-col {
        margin: 0 20px 10px 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
  

    
}