.users-insights-container {
    margin-top: 25px;
}

.users-col {
    margin: auto;
    cursor: pointer;
}

.spinner-props {
    color: #192a56;
    width: 3rem;
    height: 3rem;
    margin: 0 auto;
}

.user-card {
    margin-bottom: 10px;
}

img {
    height: 100px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .users-insights-container {
        margin-left: -30px;
    }
    .users-col {
        margin: 0 20px 10px 0;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .users-insights-container {
        width: 230px;
        margin-left: -80px;
    }
    p {
        font-size: 80%;
    }
    .header-p {
        font-size: 90%;
    }
    img {
        height: 80px;
    }
    .spinner-props {
        margin-left: -10px;
    }
}