<div class = "my-addresses-container">

    <!-- No Addresses Displaying Component -->

    <div *ngIf = "userLoggedInDetails && userLoggedInDetails.userSavedAddresses.length == 0 && !isAddressAddRequest && !showAddAddressForm">
        <app-no-addresses></app-no-addresses>
    </div>

    <!-- Button to add a new Address -->

    <hr *ngIf = "!showAddAddressForm">

        <button
            type = "button"
            class = "btn btn-sm btn-success"
            *ngIf = "!showAddAddressForm"
            (click) = "onAddAddress()">
            Add Address
        </button>

    <hr *ngIf = "!showAddAddressForm">

    <!-- Form to add a new address -->

    <div class = "userAddressForm col-md-8" *ngIf = "showAddAddressForm">
        <form [formGroup] = "userAddressForm" (ngSubmit) = "onFormSubmit()">

            <p class = "text-muted mt-3">
                Add Address here
            </p>

            <hr>

            <!-- Save As -->

            <div class = "form-group row">

                <label for = "addressSaveAs" class = "col-md-4 col-form-label text-muted">
                    Save as : 
                </label>
                <div class = "col-md-8">

                    <input
                        type = "text"
                        class = "form-control form-control-sm"
                        name = "addressSaveAs"
                        formControlName = "addressSaveAs"
                        id = "addressSaveAs"
                        autocomplete = "off"
                    > 

                    <span *ngIf = "addressSaveAs.invalid && (addressSaveAs.dirty || addressSaveAs.touched)">
                        <p 
                            *ngIf = "addressSaveAs.errors.required">
                            Save as can't be empty.
                        </p>
                    </span>
                    
                </div>

            </div>

            <!-- Deliver To Recipient -->

            <div class = "form-group row">

                <label for = "addressRecipientName" class = "col-md-4 col-form-label text-muted">
                    Deliver To : 
                </label>
                <div class = "col-md-8">

                    <input
                        type = "text"
                        class = "form-control form-control-sm"
                        name = "addressRecipientName"
                        formControlName = "addressRecipientName"
                        id = "addressRecipientName"
                        autocomplete = "off"
                    >

                    <span *ngIf = "addressRecipientName.invalid && (addressRecipientName.dirty || addressRecipientName.touched)">
                    
                        <p 
                            *ngIf = "addressRecipientName.errors.required">
                            Recipient name can't be empty.
                        </p>

                    </span>

                </div>

            </div>

            <!-- Contact Number -->

            <div class = "form-group row">

                <label for = "addressRecipientContactNumber" class = "col-md-4 col-form-label text-muted">
                    Recipient Number : 
                </label>
                <div class = "col-md-8">

                    <input
                        type = "number"
                        class = "form-control form-control-sm"
                        name = "addressRecipientContactNumber"
                        formControlName = "addressRecipientContactNumber"
                        id = "addressRecipientContactNumber"
                        autocomplete = "off"
                    >

                    <span *ngIf = "addressRecipientContactNumber.invalid && (addressRecipientContactNumber.dirty || addressRecipientContactNumber.touched)">
                    
                        <p 
                            *ngIf = "addressRecipientContactNumber.errors.required">
                            Contact number can't be empty.
                        </p>

                        <p 
                            *ngIf = "addressRecipientContactNumber.errors.pattern">
                            Invalid contact number.
                        </p>

                    </span>

                </div>

            </div>

            <!-- Address -->

            <div class = "form-group row">

                <label for = "addressDescription" class = "col-md-4 col-form-label text-muted">
                    Address : 
                </label>
                <div class = "col-md-8">

                    <textarea
                        class = "form-control"
                        name = "addressDescription"
                        formControlName = "addressDescription"
                        id = "addressDescription"
                        rows = "3"
                        autocomplete = "off"
                    ></textarea>

                    <span *ngIf = "addressDescription.invalid && (addressDescription.dirty || addressDescription.touched)">

                        <p
                            *ngIf = "addressDescription.errors.required">
                            Address can't be empty.
                        </p>

                    </span>

                </div>

            </div>

            <!-- Pin Code -->

            <div class = "form-group row">

                <label for = "addressPinCode" class = "col-md-4 col-form-label text-muted">
                    Pincode : 
                </label>
                <div class = "col-md-8">

                    <input
                        type = "number"
                        class = "form-control form-control-sm"
                        name = "addressPinCode"
                        formControlName = "addressPinCode"
                        id = "addressPinCode"
                        autocomplete = "off"
                    >

                    <span *ngIf = "addressPinCode.invalid && (addressPinCode.dirty || addressPinCode.touched)">

                        <p
                            *ngIf = "addressPinCode.errors.required">
                            Pincode can't be empty.
                        </p>

                        <p
                            *ngIf = "addressPinCode.errors.pattern">
                            Invalid Pincode.
                        </p>

                    </span>

                </div>

            </div>

            <!-- City -->

            <div class = "form-group row">

                <label for = "addressCity" class = "col-md-4 col-form-label text-muted">
                    City : 
                </label>
                <div class = "col-md-8">

                    <input
                        type = "text"
                        class = "form-control form-control-sm"
                        name = "addressCity"
                        formControlName = "addressCity"
                        id = "addressCity"
                        autocomplete = "off"
                    >

                    <span *ngIf = "addressCity.invalid && (addressCity.dirty || addressCity.touched)">

                        <p 
                            *ngIf = "addressCity.errors.required">
                            City can't be empty.
                        </p>

                    </span>

                </div>

            </div>

            <!-- Buttons -->

            <button
                type = "submit"
                class = "btn btn-sm btn-primary"
                *ngIf = "showAddAddressForm"
                [disabled] = "userAddressForm.invalid">
                Add
            </button> &nbsp;

            <button
                type = "button"
                class = "btn btn-sm btn-secondary"
                *ngIf = "showAddAddressForm"
                (click) = "onCloseAddress()">
                Close
            </button>

        </form>

    </div>


    <!-- Spinner -->

    <div class = "d-flex justify-content-center" *ngIf = "isAddressAddRequest">
        <div class = "spinner-border spinner-props" role = "status">
            <span class = "sr-only">Loading...</span>
        </div>
    </div>

    <!-- Displaying already added address -->

    <div *ngIf = "userLoggedInDetails && userLoggedInDetails.userSavedAddresses.length != 0 && !isAddressAddRequest && !showAddAddressForm">

        <div class = "row">

            <span *ngFor = "let address of userLoggedInDetails.userSavedAddresses; let i = index" class = "col-md-4">
                <app-address-item 
                    [address] = "address" 
                    [index] = "i" 
                    (addressViewId) = "onSelectedAddress($event)"
                    (addressDeleteId) = "onDeleteAddress($event)">
                </app-address-item>
            </span>

        </div>

    </div>

</div>