/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Patrick+Hand|Caveat&display=swap');

* {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 21px;
    letter-spacing: 1px;
}

input:focus,
select:focus,
textarea:focus {
    outline:none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}
