<div class = "product-detail-container" *ngIf = "productSelected">

    <!-- Breadcrumb for category and brand -->

    <div class = "row">

        <div class = "col-md-12">

            <p class = "text-primary">

                <span (click) = "onNavigateToCategory(productSelected.productCategoryId)" style = "cursor: pointer;">
                    {{ productSelected.productCategory }}
                </span>&nbsp;
                >&nbsp;
                <span (click) = "onNavigateToBrand(productSelected.productBrandId)" style = "cursor: pointer;">
                    {{ productSelected.productBrand }}
                </span>

            </p>

        </div>

    </div>

    <hr class = "mt-0 p-0">

    <div class = "row">

        <!-- Product Image -->

        <div class = "col-md-5" style = "border-right: 1px solid #b2bec3;">

            <img
                [src] = "productSelected.productImageUrl"
                [alt] = "productSelected.productName"
                class = "img-fluid img-props"
            >

        </div>

        <!-- Product Details like productName, price, discount, discountedPrice, Rating etc -->

        <div class = "col-md-7 p-2">

            <h5 class = "lead pl-2 pr-3" style = "line-height: 1.3;">
                {{ productSelected.productName }}
            </h5>

            <p class = "pt-2 pl-2 pr-2">

                <span>
                    <s class = "text-muted" style = "font-size: 90%;">{{ productSelected.productPrice | currency : 'INR' }}</s>&nbsp;
                    <span class = "lead text-white bg-info" style = "font-size: 115%;">
                        {{ productSelected.productPrice - ((productSelected.productDiscount * productSelected.productPrice)/100) | currency : 'INR' }}
                    </span>
                </span> &nbsp;
        
                <span class = "text-primary" style = "font-size: 90%;">
                    {{ productSelected.productDiscount/100 | percent }} off
                </span>

            </p>

            <p *ngIf = "productNumberOfRatings" class = "pl-2"> Rating : 

                <span class = "badge badge-success" style = "font-size: 80%;">  
                    {{ productOverallRating }} <i class="fas fa-star" style = "font-size: 70%;"></i>
                </span>&nbsp;

                <span class = "text-success" style = "font-size: 80%;">
                    {{ productNumberOfRatings }}+ Ratings
                </span>

            </p>

            <p 
                *ngIf = "!productNumberOfRatings"
                class = "text-muted pl-2">
                No ratings yet!
            </p>

            <p class = "pl-2"> Seller : 

                <span class = "text-primary">
                    {{ productSelected.productSeller }}
                </span>

            </p>

            <div class = "btn-group pl-2">

                <button 
                    class = "btn btn-sm btn-color mb-2">
                    <i class="fas fa-check-circle"></i> Verified Seller
                </button>

                <button 
                    *ngIf = "!isAlreadyInCart && !isAdmin"
                    class = "btn btn-sm btn-info mb-2 ml-2"
                    (click) = "onAddToCart()">
                    <i class="fas fa-cart-plus"></i> Add
                </button>

                <button 
                    *ngIf = "isAlreadyInCart && !isAdmin"
                    class = "btn btn-sm btn-warning mb-2 ml-2">
                    <i class="fas fa-cart-plus"></i> Already in Cart
                </button>

            </div>

        </div>

    </div>

    <hr>

    <!-- Product Description -->

    <div class ="row p-3">
        {{ productSelected.productDescription }}
    </div>

    <hr>

    <!-- Product Highlights -->

    <div class = "row pl-2 pr-3">

        <p class = "text-color-primary">
            Product Highlights : 
        </p>

    </div>

    <div class = "row pl-2 pr-3">

        <ul class = "col-md-5 text-center" style = "border-right: 2px solid #b2bec3;">
            <span
                *ngFor = "let productHighlight of productSelected.productHighlights; let i = index">

                    <li
                        style = "list-style-type: none;"
                        *ngIf = "i%2 === 0">
                            {{ productHighlight }}
                    </li>
                
            </span>
        </ul>

        <ul class = "col-md-5 text-center">
            <span
                *ngFor = "let productHighlight of productSelected.productHighlights; let i = index">

                    <li
                        style = "list-style-type: none;"
                        *ngIf = "i%2 != 0">
                            {{ productHighlight }}
                    </li>
                
            </span>
        </ul>

    </div>

    <hr>

    <!-- User Product Rating -->

    <div class = "row" *ngIf = "!isRated">

        <p 
            class = "text-color-primary">
            Rate product : 
        </p>

        <div class = "pl-3">

            <a
                (click) = "!productRating1 ? onGiveRating('one') : onRemoveRating('one')"
                [ngStyle] = "{color: productRating1 ? '#f39c12' : ''}">
                <i class="fas fa-star"></i>
            </a>

            <a
                (click) = "!productRating2 ? onGiveRating('two') : onRemoveRating('two')"
                [ngStyle] = "{color: productRating2 ? '#f39c12' : ''}">
                <i class="fas fa-star"></i>
            </a>

            <a
                (click) = "!productRating3 ? onGiveRating('three') : onRemoveRating('three')"
                [ngStyle] = "{color: productRating3 ? '#f39c12' : ''}">
                <i class="fas fa-star"></i>
            </a>

            <a
                (click) = "!productRating4 ? onGiveRating('four') : onRemoveRating('four')"
                [ngStyle] = "{color: productRating4 ? '#f39c12' : ''}">
                <i class="fas fa-star"></i>
            </a>

            <a
                (click) = "!productRating5 ? onGiveRating('five') : onRemoveRating('five')"
                [ngStyle] = "{color: productRating5 ? '#f39c12' : ''}">
                <i class="fas fa-star"></i>
            </a>

            <button
                type = "button"
                class = "btn btn-sm btn-success ml-4"
                (click) = "onSubmitRating()">
                Submit
            </button>


        </div>

    </div>

    <!-- User Already Rated -->

    <div class = "row" *ngIf = "isRated">

        <p class = "text-color-primary pl-3">
            You rated : {{ userRatingForProduct }} <i class="fas fa-star" style = "color: #f39c12;"></i>
        </p>

    </div>

</div>