<div class = "card card-props">

        <h5 class = "card-header"> {{address.addressSaveAs}} </h5>

        <div class = "card-body">

            <h5 class = "card-title"> {{ address.addressRecipientName }} </h5>

            <p class = "card-text">
                {{ address.addressDescription }}
            </p>

        </div>

        <div class = "card-footer">

            <a (click) = "onAddressSelected()" class = "text-primary" style = "cursor: pointer;"> View/Edit </a> &nbsp;
            <a (click) = "onAddressDelete()" class = "text-primary" style = "cursor: pointer;"> Delete </a>

        </div>

</div>


